#logo-name { /*Логотип*/
    font-family: Fantasy;
    font-size: 30px;
}

.round { /*Кнопка авторизации*/
    width: 50px; height: 50px; /* Размеры кнопки */
    background-color: #bfb5b4; /* Цвет фона */
    border-radius: 50%; /* Радиус скругления */
    border: 2px solid; /* Убираем рамку вокруг кнопки */
    vertical-align: top; /* Выравнивание по верху */
}

.fa-user{ /*Иконка юзера*/
    font-size: 24px;
}

.navbar { /*Отступ от шапки сайта*/
    margin-bottom: 10px;
}
